@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------- */

*{
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: 'mulish';
}

.cabecalho{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}



.link-menu{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    font-weight: 400;
    text-decoration: none;
    margin-left: 50px;
    opacity: 0.5;
    
}

.ativo{
    font-weight: 700;
    color: #1F1534;
    opacity: 10;
    line-height: 100%;

   }



.menu{
    padding-top: 56px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.parte-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 693px;
    margin-left: auto;
    margin-right: auto;
}

.inicio{
    width: 517px;
    height: 337px;
    border: 1px solid red;
}

.titulo{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
}

.subtitulo{
    font-size: 21px;
    font-weight: 300;
    color: #7D7987;
    padding-top: 25px;
    line-height: 32px;
}

.botao{
    height: 59px;
    text-align: center;
    background-color: #458FF6;
    color: #FFFFFF;
    width: 200px;
    margin-top: 45px;
    border-radius: 55px;
    border-color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    border: none;
    &:hover{
        background-color: #2876e4;
        cursor: pointer;
    }
}

.nossos-servicos{
    align-items: center;
    padding-top: 192px;
}

.titulo-servico{
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    text-align: center;
}

.subtitulo-servico{
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
    text-align: center;
    padding-left: 325px;
    padding-right: 323px;
    margin-top: 61px;
}

.lista-servicos{
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.bloco-servico{
    padding-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
}

.fundo-servicos{
    background-image: url(imagem/fundo-servicos.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 40%;
}

.nome-servico{
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}

.descricao{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    align-items: center;
}

.servicos{
    width: 350px;
    height: 354px;
    padding-left: 37px;
    padding-top: 54px;
    padding-right: 45px;
    background-color: #fff;
    margin-bottom: 37px;
    border-radius: 20px;
    box-shadow: #e5e9f69c 10px 40px 50px;
}

.botao-2{
    border-radius: 55px;
    border: 1.4px solid #458FF6 ;
    width: 200px;
    height: 56px;
    justify-content: center;
    display: flex;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
 }

.botao-3{
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    text-decoration: none;
    width: 98px;
    height: 60px;
 }

 .parte-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 186px;
    border: 1px solid red;
    gap: 137px;
}

.inicio-2{
    width: 486px;
    height: 388px;
    border: 1px solid red;
}

.botao-a{
    display: flex;
}

.botao-b{
    height: 59px;
    background-color: #FFFFFF;
    text-align: center;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    width: 200px;
    margin-top: 45px;
    border-radius: 55px;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    &:hover{
        cursor: pointer;
    }
}